rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /teachers/{teacherId} {
      allow read, write: if true;
    }
    match /observations/{observationId} {
      allow read, write: if true;
    }
  }
}

